@charset "UTF-8";

/*-------------------------------------
            PALETA DE CORES

Vermelho: #BC252A
Preto: #111111
Cinza: 
Cinza escuro: #E7E7E7
-------------------------------------*/

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media screen and (min-width: 992px) {

    section#login {
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
    }

    section#login > div#imagem {
        float: right;
        width: 70%;
        height: 100%;
        background-position: center center;
    }

    section#login > div#formulario > img#logo {
        width: 60px;
        margin-top: 70px;
        margin-left: 80px;
    }

    section#login > div#formulario {
        float: left;
        width: 30%;
    }

    div#formulario > h1 {
        text-align: left;
        margin-top: 60px;
        margin-left: 70px;
        margin-bottom: 10px;
    }
    
    button#iseta {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 50%;
        height: 65px;
        width: 65px;
        border: 1px solid rgba(128, 128, 128, 0.342);
        border-radius: 20px;
        background-color: white;
        color: rgba(128, 128, 128, 0.342);
    }
    
    button#iseta:hover {
        background-color: #FF4654;
        color: white;
    }

}